<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D4M.FINANCE.JOTRAFIN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <D4M.FINANCE.JOTRAFIN.Properties.Settings>
            <setting name="DemoBalance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultDemoBalance" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="DemoUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DemoUserPassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="LiveUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="LiveUserPassWord" serializeAs="String">
                <value />
            </setting>
        </D4M.FINANCE.JOTRAFIN.Properties.Settings>
    </userSettings>
</configuration>